/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */


/* header */
h1 {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
    padding-right: 25px;
}

.site-header {
    background-color: transparent;
    height: 0px;
}

.custom-logo {
    height: 33px;
    width: 50px;
}

.container-logo-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    // TODO add nov font 
}


.hero-banner {
    height: 100vh;
    background-size: cover, cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-about {
   // background-position-y: -6rem;
   padding: 0px;
}

.post-60 {
margin-right:14rem;
}

.page-id-60{
    h2{
        align-self: center;
    }
}

/* TODO  */
// .size-post-thumbnail {
//     padding-left: 42%;
//     padding-right: 40%;
//    height: 100vh;
// }

.main-navigation {
    width: 50%;
    padding-left: 10%;
    align-items: center;
    display: flex;
    
    a{
        color: #FFF;
    }
}




.custom_logo {
    width:50%;
}

.inhabitent-text-logo {
    position: absolute;
}




/* SHOP STUFF SECTION*/



.product-info h2 {
    text-align: center;
    color: #2f1339;
    font-size: 2.4rem;
    margin-bottom: 60px;
}


.product-type-blocks {
    display: flex;
    justify-content: space-between; 
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}

.product-type-blocks p {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
}

/* TODO FIX FONT*/
.product-type-block-wrapper {
    width: 23%;
    border: 1px solid #e1e1e1;
    font-family: 'Merriweather', serif;
    
}

.product-type-block-wrapper img {
    height:70px;
    width:70px;
}

.btn {
    background: #248a83;
    color: #fff;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
    font-size: .9rem;


}

/* JOURNAL */

.journal-header {
    width: 640px;
    margin-left: 14rem;
    margin-top: 6rem;

h2{
    background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    padding: .75rem 1.5rem;
    margin-top: 2.25rem;
    max-width: 75%;

}
}

.journal {
    display: flex;
}

.journal-container {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.journal-img {
    padding: 0px;
}

.read-entry-btn {
    background-color: transparent;
    border: 1px solid #000;
    width: fit-content;
    a{
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
    }
}

.journal-title {
    padding: 0px;
    font-size: 1.3rem;
    color: #248a83;
    margin-bottom: 2.3rem;
}

.journal-data {
    font-size: .75rem;
}

.adventures-title {
    padding: 0px;
}

.journal-wrapper {
    border: solid 1px #e1e1e1;
    display: flex;
    flex-direction: column;
    padding: .75rem;
}


/* ADVENTURES*/

.adventure-container {
    height: 500px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
}

.adventure-posts-all {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.adventure-container img {
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
       
}

.adventure-box {
 padding: 0px;
}

.adventure-img {
    padding: 0px;
}

.read-entry-btn {
    background-color: transparent;
    border: 1px solid #000;
    width: fit-content;
    padding: .75rem 1.5rem;
    a{
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
    }
}

.adventure-title {
    padding: 0px;
    font-size: 1.3rem;
    color: #248a83;
}

.adventure-data {
    font-size: .75rem;
}

.adventures-title {
    padding: 0px;
}

.about-title {
    display: initial;
    color: #FFF;
    font-size: 3.3rem;
}

.entry-content {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 800;
    p{
        font-family: 'Merriweather', serif;
        font-size: 1.2rem;
    }

    h2{
        font-size: 2rem;
        text-align: center;
        color: #2F1339;
    }

}

/* footer */

.footer-container {
    display:flex;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    flex-wrap: wrap;
}

.footer {
    background: url(../../images/dark-wood.png);
    p{
        margin-left: 0rem;
    }
}

.contact-form {
    width: 25%;
    h3{
        color: #d99054;
        font-size: 1.5rem;
    }

    p{
        font-family: 'Merriweather', serif;
        font-size: 1.3rem;
    }

}


.contact-hours {
    width: 25%;
    h3{
        color: #d99054;
        font-size: 1.5rem;
    }

    p{
        font-family: 'Merriweather', serif;
        font-size: 1.3rem;
    }
}

.footer-logo {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.footer-logo-size {
    width: 50%;
    
}

.footer-copyright {
    text-align: center;
    flex: auto;
    text-transform: uppercase;
}

/* find us */

.site-content{
    display: flex;
    //flex-direction: column;
}


.find-us-nav {
    //border-bottom: 1px solid #e1e1e1;       
    width: initial;
    position: relative;
    z-index: 99;
    
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    a {
        color: $color__text-screen;
        padding: 1rem;
        &:hover {
            padding: 1rem;
        }
    }
}

.entry-content{
        margin-top: 3rem;
        margin-left: 12rem;
    h2{
        text-align: start;
    }
}

.home-content{
    //display: inline;
    //margin-left: auto;
    //margin-right: auto;
    //width: 955px;
    p{
        margin-left: 20%;
        margin-right: 9%;
    
    }
}

.widget-area{
    margin-top: 4rem;
    border-left: 1px solid #e1e1e1;
    padding-right: 7rem;
    padding-left: 6rem;
    
}





.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
    width: 1044px;
    margin-left: auto;
    margin-right: auto;
    //margin-top: 13rem;
    
    img {
        height: 250px;
        max-width: auto;
    }
    a{
        color:#2f1339;
    }


}

.entry-content {
    margin-top: 1rem;
}

.first-page-product-choose {
    display: flex;

    div{
        border: 0px;
    }
}

.buttons {
    color: #248a83;
}

.first-page-product-choose{
    display: flex;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    div{
        width: unset;
    }
}

.page-title-archive {
    text-align: center;
    font-size: 2.4rem;
    margin-top: 4rem; 
 
}


.journal-link {
    color: black;
}

.product-meta {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    font-family: 'Merriweather', serif;
    font-size: .9rem;
    border: 1px solid #e1e1e1;
    border-top: 10px solid #e1e1e1;
    padding: .75rem 1rem;
    font-weight: 500;


}

.entry-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.1rem;
}

.container-shop{
    border-bottom: 1px dashed #c8c8c8;
    margin-bottom: 3rem;
}



/* widget */

.widget-title {
    color: #2f1339;

}


.custom-html-widget{
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
}

.tent-biz-hours-class p {
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
}

.days-of-week {
    font-weight: bold;  
}


